doctype html
html
  head
    title= title
    link(rel="icon" href="/images/icon.png")
    link(rel="stylesheet" href="/stylesheets/semantic.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome-all.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/semantic.min.js")
  script(defer src="/javascripts/fontawesome-all.js")
  script(src='/socket.io/socket.io.js')
  block script
