doctype html
html
  head
    title= title
    link(rel="icon" href="/images/icon.png")
    link(rel="stylesheet" href="/stylesheets/semantic.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome-all.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:creator' content='@Bricolo81')
    meta(name='twitter:title' content='CodeNames en ligne')
    meta(name='twitter:description' content='Une implémentation du jeu de société mais, en ligne.')
    meta(name='twitter:image' content='https://codenames.hcaz.fr/images/twitter.jpg')
    meta(name='twitter:image:alt' content='Illustration CodeNames en ligne')

  body
    block content
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/semantic.min.js")
  script(defer src="/javascripts/fontawesome-all.js")
  script(src='/socket.io/socket.io.js')
  block script
