body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4b4f51;
  background-color: #a29bfe;
}

#teams {
  flex: 1;
  max-width: 300px;
  min-width: 300px;
}

#chat {
  flex: 1;
  max-width: 400px;
}

#passwordModal {
  padding: 20px;
}

#errorMessage {
  display: none;
  color: #ff7675;
}

.private-key {
  text-align: center;
  color: #4b4f51;
}

#board-area {
  flex: 3
}

.flex-column {
  margin: 1.2em;
}

#flex-wrapper {
  display: flex;
  height: 100%;
}

#flex-wrapper.column {
  flex-flow: column;
}

#background-white {
  background-color: white;
}

#home-content {
  flex: auto;
}

.ui.table td.right {
  text-align: right;
}

.ui.table thead tr th, .ui.table tr td {
  text-align: center;
}

tr td .ui.button.join-button {
  visibility: hidden;
}


tr:hover td .ui.button.join-button {
  visibility: visible;
}

#title {
  font-size: 2em;
  color: white;
}

#header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.ui.header.custom-grey {
  color: rgb(75, 75, 75);
}

.ui.form .field > label.clear-grey {
  color: #c8d6e5;
}

#left-header {
  align-items: center;
  display: flex;
}

#footer {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

#header, #footer {
  flex: initial;
}

#home-content {
  padding: 20px 0 20px 0;
  background-color: white;
}

#board-area {
  background-color: #bfbaff;
  border-radius: 5px;
  padding: 1%;
}

#board {
  display: none;
}

#board, #board > div {
  height: 100%;
  width: 100%;
  margin: 0;
}

.game-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.game-card > .content {
  display: flex;
  align-items: center;
}

#inputArea {
  display: none;
}

#waitingMessage {
  color: white;
  font-size: 2em;
  align-self: center;
  text-align: center;
  width: 100%;
}

.ui.card > .content {
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.message {
  margin-top: 2px;
}

.ui.card > .content > #messages > .message .username {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #c8d6e5;
}

.message-content {
  background-color: #eff6fe;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.my > .message-content {
  background-color: #a29bfe;
  color: white;
}

.my.message {
  text-align: right;
}


.tall-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wide-card.bottom-margin {
  margin-bottom: 1rem;
}

.wide-card {
  flex: 1;
}

.wide-card > .card {
  height: 100%;
  width: 100%;
}
.my-name {
  font-weight: bold;
}

.nameInputWrapper {
  display: none;
}

.team-ready {
  display: none;
}

#action {
  margin-bottom: 0;
  margin-top: 1rem;
}

#actionButton {
  width: 100%;
}

#start {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #00B7FF;
}

.game-card {
  background-color: white;
  border-radius: 5px;
}

.game-card p {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.blue-team {
  color: #74b9ff;
  width: 100%;
}

.orange-team {
  color: #ff7675;
  width: 100%;
}

.blue-card.captain {
  color: #74b9ff;
}

.orange-card.captain {
  color: #ff7675;
}

.witness-card.captain {
  color: #fdcb6e;
}

.looser-card.captain {
  color: #2d3436;
}

.blue-card.revealed {
  background-color: #74b9ff;
  color: white;
}

.orange-card.revealed {
  background-color: #ff7675;
  color: white;
}

.witness-card.revealed {
  background-color: #fdcb6e;
  color: white;
}

.looser-card.revealed {
  background-color: #2d3436;
  color: white;
}
