body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #4b4f51;
  background-color: #4e47b0;
}

#teams {
  flex: 1;
  max-width: 300px;
  min-width: 300px;
}

#chat {
  flex: 1;
  max-width: 400px;
}

#passwordModal {
  padding: 20px;
}

#errorMessage {
  display: none;
  color: #fd4645;
}

.private-key {
  text-align: center;
  color: #4b4f51;
}

#board-area {
  flex: 3;
}

.flex-column {
  margin: 1.2em;
}

#flex-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#flex-wrapper.column {
  flex-flow: column;
}

#flex-wrapper .row {
  display: flex;
  flex-direction: row;
}

#flex-wrapper .grow {
  flex-grow: 1;
}

#background-white {
  background-color: white;
}

#home-content {
  flex: auto;
}

.ui.table td.right {
  text-align: right;
}

.ui.table thead tr th,
.ui.table tr td {
  text-align: center;
}

tr td .ui.button.join-button {
  visibility: hidden;
}

tr:hover td .ui.button.join-button {
  visibility: visible;
}

#title {
  font-size: 2em;
  color: white;
}

#header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.ui.header.custom-grey {
  color: rgb(75, 75, 75);
}

.ui.form .field > label.clear-grey {
  color: #c8d6e5;
}

#left-header {
  align-items: center;
  display: flex;
}

#footer {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

#header,
#footer {
  flex: initial;
}

#home-content {
  padding: 20px 0 20px 0;
  background-color: white;
}

#board-area {
  background-color: #322d82;
  border-radius: 5px;
  padding: 1%;
}

#board {
  display: none;
}

#board,
#board > div {
  height: 100%;
  width: 100%;
  margin: 0;
}

.game-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.game-card > .content {
  display: flex;
  align-items: center;
}

#inputArea {
  display: none;
}

#waitingMessage {
  color: white;
  font-size: 1.3em;
  align-self: center;
  width: 100%;
}

.ui.card > .content {
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.message {
  margin-top: 2px;
}

.ui.card > .content > #messages > .message .username {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #c8d6e5;
}

.message-content {
  background-color: #eff6fe;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.message-content > p {
  line-height: 1em;
}

.my > .message-content {
  background-color: #6a61db;
  color: white;
}

.my.message {
  text-align: right;
}

.tall-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wide-card.bottom-margin {
  margin-bottom: 1rem;
}

.wide-card {
  flex: 1;
}

.wide-card > .card {
  height: 100%;
  width: 100%;
}
.my-name {
  font-weight: bold;
}

.nameInputWrapper {
  display: none;
}

.team-ready {
  display: none;
}

#action {
  margin-bottom: 0;
  margin-top: 1rem;
}

.stretched.row {
  display: flex;
  flex-grow: 1;
}

#actionButton {
  flex-grow: 1;
}

#start {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

a:hover {
  color: #4e47b0;
}

a {
  color: #00b7ff;
}

.game-card {
  background-color: white;
  border-radius: 5px;
}

.game-card p {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.blue-team {
  color: #2892fd;
  width: 100%;
}

.orange-team {
  color: #fd4645;
  width: 100%;
}

.blue-card.captain {
  color: #2892fd;
}

.orange-card.captain {
  color: #fd4645;
}

.witness-card.captain {
  color: #ffac10;
}

.looser-card.captain {
  color: #2d3436;
}

.blue-card.revealed {
  background-color: #2892fd;
  color: white;
}

.orange-card.revealed {
  background-color: #fd4645;
  color: white;
}

.witness-card.revealed {
  background-color: #ffac10;
  color: white;
}

.looser-card.revealed {
  background-color: #2d3436;
  color: white;
}

.description > div.color-team > div.item {
  display: flex;
  justify-content: space-between;
  cursor: auto;
}
.description > div.color-team > div.item::after {
  display: none;
  content: none;
}

.color-team > .item > div {
  display: inline-block;
}

.actions > button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

.item:hover > .actions > button {
  display: inline-block;
}

#genericModal {
  padding: 1em;
}
