extends ../layout

block script
  script(src='/javascripts/bundle.js')

block content
  div(id="winnerModal")
  div(class="ui two column grid" style="height: 100%")
    div(class="row" style="height: 100%")
      div(id="teams" class="four wide column")
        include components/teams.pug
      div(id="board-area" class="twelve wide column")
        div(id="board" class="ui five column grid" )
        div(id="start" style="display: none;")
          include components/start.pug