div(class="ui five column grid")
  p(id="waitingMessage") Waiting players...
  for row in cards
    div(class="streched row")
      for card in row
        div(class="column")
          div(id=`word-${card.word.fr.replace(/ /g, '')}` class=`game-card ${card.team}-card ${isCaptain ? 'captain' : ''}`)
            p= card.word.fr
