div(class="tall-column")
  div(class="wide-card")
    div(class="ui card")
      div(class="content")
        div(id="messages")
        div(class="ui divider")
        div(class="ui form")
          div(class="field")
            textarea(id="messageInput" rows="1" style="resize: none;" placeholder="Send a message" disabled)

