div(id="waitingMessage")
    p Waiting players...
    div
        h1 Rules
            h2 How to win?
            p(class="instructions")
                | The goal is to make your teammates find all the cards of your team color.
                br
                | As the leader (⭐) you can see cards colors, but your teammates can't.
                br
                | There are 4 types of cards:
                ul
                    li <b><u>Orange</u></b> cards
                    li <b><u>Blue</u></b> cards
                    li <b><u>Yellow</u></b> cards belongs to none of the teams
                    li <b><u>Black</u></b> card is forbidden, chosing it make you lose instantly!
                | Selecting a card which is not of your color ends your turn immediatly or makes you lose.
            h2 Basic turn
            p
                | The leader gives <u>one word</u> and the <u>number of cards</u> it refers to (this also defines the max number of tries).
                br
                | Then all your teammates must agree and select the same card, which will automatically reveal it.
                br
                | The leader ends the turn when the max number of tries is reached or when teammates decide to stop.
            h2 Game setup
            ol
                li  Share this link to friends: 
                    a(id="gameLink" href=`${window.location.href}`)= `${window.location.href} 📋`
                li Chose a team, enter a name and click <b><u>Join</b></u>. First to join is the leader ⭐.
                li When your team is ready, click <b><u>Ready</u></b>
            p Game starts when both teams are ready.