div(id="passwordModal" class="ui mini modal")
  h3 This room is locked.
  p(id='errorMessage') Oups! Wrong password
  div(class="ui fluid action input")
    input(name="password" placeholder="password" id="password" type="password")
    button(type="submit" class="ui primary button") Unlock