div(class="tall-column")
  div(class="wide-card bottom-margin")
    div(class="ui card")
      div(class="content")
        div(class="header" style="text-align: center")
          span(class="orange-team")
            i(class="orangeTurn turnSelector fas fa-arrow-right" style="display: none")
            = '  Orange Team  '
            span(id="orangeReady" class="team-ready")
              i(class="fas fa-check-circle")
            i(class="orangeTurn turnSelector fas fa-arrow-left" style="display: none")
        div(class="description")
          div(id="orangeTeam" class="ui color-team relaxed selection divided list")

      div(class="nameInputWrapper extra content")
        div(class="ui action input")
          input(id="orangeNameInput" placeholder="Name" type="text" maxlength="10" required)
          button(class="ui button" id="orangeJoin") Join

  div(class="wide-card")
    div(class="ui card")
      div(class="content")
        div(class="header" style="text-align: center")
          span(class="blue-team")
            i(class="blueTurn turnSelector fas fa-arrow-right" style="display: none")
            = '  Blue Team  '
            span(id="blueReady" class="team-ready")
              i(class="fas fa-check-circle")
            i(class="blueTurn turnSelector fas fa-arrow-left" style="display: none")

        div(class="description")
          div(id="blueTeam" class="ui color-team relaxed selection divided list")

      div(class="nameInputWrapper extra content")
        div(class="ui action input")
          input(id="blueNameInput" placeholder="Name" type="text" maxlength="10" required)
          button(class="ui button" id="blueJoin") Join

  div(class="row")
    div(id="action" class='stretched row'  style="display: none")
      button(id="actionButton" class='ui button blue' style="margin: auto")

