div(class="team-column")
  div(class="team-card")
    div(class="ui card")
      div(class="content")
        div(class="header" style="text-align: center")
          span(class="orange-team")
            i(class="orangeTurn fas fa-arrow-right" style="display: none")
            = '  Orange Team  '
            i(class="orangeTurn fas fa-arrow-left" style="display: none")      
        div(class="description")
          div(id="orangeTeam" class="ui relaxed selection divided list")

      div(class="nameInputWrapper extra content")
        div(class="ui action input")
          input(id="orangeNameInput" placeholder="Name" type="text")
          button(class="ui button" id="orangeJoin") Join

  div(class="team-card")
    div(class="ui card")
      div(class="content")
        div(class="header" style="text-align: center")
          span(class="blue-team")
            i(class="blueTurn fas fa-arrow-right" style="display: none")
            = '  Blue Team  '  
            i(class="blueTurn fas fa-arrow-left" style="display: none")
      
        div(class="description")
          div(id="blueTeam" class="ui relaxed selection divided list")

      div(class="nameInputWrapper extra content")
        div(class="ui action input")
          input(id="blueNameInput" placeholder="Name" type="text")
          button(class="ui button" id="blueJoin") Join

  div(class="row")
    div(id="endTurn" class='stretched row'  style="display: none")
      button(id="endTurnButton" class='ui button blue' style="margin: auto") End turn

